@font-face {
font-family: Freestyle Script;
src: url(../fonts/frescripr.ttf);}
@font-face{
font-family: Proxima Nova;
src: url(../fonts/proximaNova.otf);}

html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  background-color: #ffffff;
  box-sizing: inherit;
  min-width: 320px;
  min-height: 100vh;

}
.container {
  padding: 0 19.55vw;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  height: inherit;
}
@media only screen and (max-width: 1120px){
  .container{
    padding-right: 8vw;
    padding-left: 8vw;
  }
}

@media only screen and (max-width: 670px){
  .container{
    padding-right: 5vw;
    padding-left: 5vw;
  }
}
.header{
  position:fixed;
  box-sizing: border-box;
  height: 12.5vh;
  left: 0;
  right: 0;
  top: 0;
  background-color: #ffffff;
  z-index: 10;
  box-shadow: 0 0 10px #e5e5e5;
  border: 1px solid #fff;
}
.menu-icon,
.vertical-menu{
  display: none;

}
.header-menu{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  height: 12.5vh;

  &>.mobile{
    display: none;
  }

  &>.logo{
    align-self: center;
  }

  &>.header-menu__left,
  .header-menu__right{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    min-width: 20.3vw;

    &>.left-item,
    .right-item{
      display: flex;

      &>.nav-link{
        text-decoration: none;
        font-size: 1.75vh;
        color: #555555;
        display: flex;
        padding-top: 5.5vh;
        padding-right: 0.85vw;
        padding-left: 0.85vw;

        &:hover {
          color: #6371de;
        }

        &.active {
          color: #6371de;
          position: relative;

          &:after {
            content: " ";
            width: 50%;
            height: 1px;
            margin: -1.5vw auto;
            margin-top: 1vw;
            position: absolute;
            display: block;
            background-color: #5363db;
            right: 25%;
            bottom: 5vh;
          }
        }
      }
    }
  }
}

.slider{
 height: 75vh;
 margin-top: 12.5vh;
 margin-bottom: 12.5vh;
 background: no-repeat center / cover;

   &>.container{
     display: flex;
     justify-content: space-around;
     align-items: center;
   }

   @media only screen and (max-width: 755px){
     .container {
       flex-direction: column;
     }
   }
}

@media only screen and (max-width: 755px) {
  .slider{
    height: 90vh;
    margin-bottom: 5vh;
  }
}


.form-container{
  width: 50%;
  margin-right: 0.78vw;

  &>#main-form{
    width: 300px;
    max-height: 400px;
    background-color: #fff;
    border-radius: 1.87vh;

    &>.form-caption{
      font-size: 25px;
      font-weight: 600;
      color: #5363db;
      padding-top: 2.08vmax;
      padding-bottom: 1.56vmax;
      margin: 0;
      margin-left: 30px;
    }
    &>input{
      width: 230px;
      background-color: #f2f2f2;
      height: 50px;
      padding-left: 0.57vw;
      border: none;
      margin-bottom: 2.13vh;
      border-radius: 0.87vh;
      margin-left: 30px;

      &:focus{
        outline: none;
        border: 1px solid #5b6ceb;
      }
    }
    &>.select-wrap{
      margin-bottom: 30px;;
      position: relative;
      width: 235px;
      height: 50px;
      margin-left: 30px;

      &::after{
        content: "";
        border-style: solid;
        border-width:  5px 5px 0 5px;
        border-color: #636363 transparent transparent transparent;
        position: absolute;
        top: 50%;
        right: 25px;
        z-index: 1;
        margin-top: -2px;
        pointer-events: none;
      }

      &>.list-class{
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 100%;
        background-color: #f2f2f2;
        color: #888888;
        border: none;
        padding: 20px 0.57vw;
        border-radius: 0.87vh;


        &:focus{
          outline: none;
          border: 1px solid #5b6ceb;
        }
        &:hover{
          cursor: pointer;
        }
      }
    }
    &>.btn{
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      background-color: #5b6ceb;
      padding: 18px 3.38vw;

      margin-left: 130px;
      margin-bottom: 35px;
      border-radius: 0.63vh;

      &:hover{
        background-color:#475bf1;
      }
    }
  }
   @media only screen and (max-width: 755px){
     #main-form{
       margin-top: 60px;
     }
   }
}
.main-caption{
  flex-basis: 50%;
  color: #fff;
  &>h1{
    font-size: 2.5vmax;
    line-height: 3.75vmax;
    font-weight:bold;
    margin: 0;
    margin-top: -5.62vh;
    text-transform: uppercase;
  }
  @media only screen and (max-width: 755px){
    h1{
      font-size: 30px;
      line-height: 38px;
      margin-top: 10px;
    }
  }
  &>p{
    font-family: "Freestyle Script";
    font-size: 5vh;
    line-height: 6vh;
    margin: 0;
    margin-top: 5.62vh;
  }
  @media only screen and (max-width: 755px){
    p{
      margin-top: 30px;
      font-size: 4.5vh;
      line-height: 4.8vh;
    }
  }
}
@media only screen and (max-width: 755px){
  .main-caption{
    margin-top: 60px;
  }
}
.our-classes__title {
  display: flex;
  flex-direction: column;
  text-align: center;
  magin: 0 auto;
}
.our-classes__title h2{
  margin: 0;
  padding-top: 0.78vmax;
  padding-bottom:  3.12vh;
  font-size: 3,75vh;
  line-height: 5.63vh;
  font-weight: bold;
  color: #5b6ceb;
  text-transform: uppercase;
}
.our-classes__title p {
  margin: 0;
  padding-bottom: 9.38vh;
  font-family: "Freestyle Script";
  font-size: 6.25vh;
  color: #777777;
}

.class-list{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;

  &>.class-item{
    width: 29.69vw;
    height: 17.62vmax;
    display: flex;
    border-radius: 0.94vw;
    box-shadow: 4px 4px 20px #f7f7f7;
    overflow: hidden;
    margin-bottom: 3.16vh;

    &>.class-photo{
      width: 14.06vw;
      overflow: hidden;
      display: inline-block;

      &>img{
        height: 100%;
      }
    }
    @media only screen and (max-width: 1120px){
      .class-photo{
        width: 45%;
      }
    }

    &>.class-description{
      margin-left: 1.56vw;
      width: 14.06vw;

      &>.class-title {
        display:inline-block;
        font-size: 2,5vh;
        color: #777777;
        font-weight: bold;
        margin-top: 2.34vmax;
        text-transform: uppercase;
      }
      @media only screen and (max-width: 1145px){
        .class-title {
          font-size: 18px;
          margin-top: 2.34vmax;
        }
      }
      &>.class-text{
        margin: 0;
        margin-top: 1.8vmax;
        margin-bottom: 1.5vh;
        color: #555555;
        font-size: 1.75vh;
        line-height: 2.75vh;
      }
      &>.class-type{
        color: #999999;
        font-size: 1.75vh;
      }
    }
    @media only screen and (max-width: 1350px) {
      .class-description{
        width: 50%;
      }
    }
  }
  @media only screen and (max-width: 1350px){
    .class-item{
        width: 500px;
        height: 250px;
      }
    }
  }
@media only screen and (max-width: 1350px){
  .class-list{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.gallery {
  width: 100%;
  margin-top: 12.5vh;

  &>.gallery-list{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    max-height: 400px;
    min-height: 300px;

    &>.gallery-photo{
      list-style: none;
      min-height: 150px;
      width: 25%;
      position: relative;
      overflow: hidden;
      float: left;

      &>img {
        height: 100%;
        max-width: 100%;
         width: calc(100% + 3vw);
        position: absolute;
        z-index: 1;
      }

      &>a {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: rgba(124,137,239,0.9);
        color: #fff;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        opacity: 0;

        &:hover{
          opacity: 1;
          cursor: pointer;
        }

        &>.circle{
          width: 3vw;
          height: 3vw;
          border-radius: 50%;
          background-color: #fff;
          z-index: 3;
          display: inline-block;

          &>.magnifying{
            width: 1.25vw;
            width: 1.25vw;
            margin: 0.88vw;
          }
        }
      }
    }
  }
}

.section-about-us .container{
  display: flex;
  justify-content: space-between;
  &>.about__content{
    width: 50%;
    margin-top: 6.51vmax;

    &>.about__content-wrap{
      width: 24.48vmax;

      &>h2{
        font-size: 1.56vmax;
        color:#5b6ceb;
      }
      &>p{
        color: #555555;
      }
    }
    @media only screen and (max-width: 1110px) {
      .about__content-wrap{
        width: 100%;
      }
    }
  }

  &>.about__slider{
    margin-top: 6.51vmax;
    width: 29.69vmax;
    height: 15.62vmax;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    &>img{
      width: calc(100% + 3vw);
      height: auto;
      }
    }
}

.features{
  max-height: 100vh;
  height: inherit;
  position: relative;
  background: no-repeat center /cover;
  margin-top: 6.51vmax;
}
.features__list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 6.51vmax;
  padding-bottom: 6.51vmax;

  &>.features__item{
    width: 14.06vw;
    height: 31.25vh;
    margin-bottom: 6.25vh;

    &>img{
      display: block;
      margin: 0 auto;
      width: 8.75vh;
      height: 8.75vh;
      margin-bottom: 3.12vh;
      &:hover{
        filter: brightness(0);
        cursor: pointer;
      }
    }
    &>h4{
      margin: 0;
      font-size: 0.94vmax;
      line-height: 1.41vmax;
      text-align: center;
      margin-bottom: 1.87vh;
      color: #fff;
      text-transform: uppercase;
    }
    &>p{
      margin: 0;
      font-size: 0.83vw;
      line-height: 1.41vw;
      text-align: center;
      color: #fff;
    }
  }
  @media only screen and (max-width: 1016px){
    .features__item {
      width: 20.06vw;
    }
  }
}

.prices{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;

  &>.price{
  margin-top: 12.5vh;
  width: 19.27vw;
  border-radius: 1.12vh;;
  box-shadow: 11px 11px 46px #f5f5f5;
  overflow: hidden;

  &>.value{
    padding-top:  6.25vh ;
    padding-bottom:  6.25vh ;
    padding-right: 3.65vw;
    padding-left: 5.20vw;
    background-color: #5b6ceb;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 1.5vh;
    &>.currency{
      font-size: 1.67vmax;
      padding-right: 0.78vw;
      font-weight: bold;
    }
    &>.numeral{
      font-size: 3.5vmax;
      font-weight: bold;
      padding-right: 0.58vw;
    }
    &>.mons{
      font-size: 2.25vh;
    }
  }
  &>.included-price {
    font-size: 0.93vmax;
    text-align: center;
    text-transform: uppercase;
    color: #555555;

    &>.price-details{
      margin: 0;
      padding-top: 2.87vh;
    }
    &>.element{
      &::before{
        content: "";
        width: 35%;
        height: 1px;
        margin:0 auto;
        display: block;
        background-color: #d7d7d7;
        margin-bottom: 3.12vh;
      }
    }
    &>.button{
      display: block;
      text-decoration: none;
      color: #ffffff;
      background: #5b6ceb;
      width: 8.85vw;
      padding: 10px 0;
      font-size: 0.94vmax;
      line-height: 3vh;
      font-weight: bold;
      border-radius: 0.78vw;
      margin: 5.62vh auto;

      &:hover{
        background-color:#475bf1;
      }
    }
  }
  @media only screen and (max-width: 1010px){
    .included-price{
      font-size: 17px;
    }
  }
}
@media only screen and (max-width: 1010px) {
  .price{
    width: 26.27vw;
  }
}
}
 @media only screen and (max-width: 1010px){
   .prices{
     flex-direction: column;
     align-items: center;
   }
 }
 @media only screen and (max-width: 1010px) {
   .price{
     width: 26.27vw;
   }
 }
.bloquotes {
  margin-top: 12.75vh;
}
.bloquote-content{
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 31.25vh;
  box-shadow: 11px 11px 46px #f5f5f5;
  border-radius: 1.12vh;

  &>.bloquote-content__photo{
    width: 14.06vw;
    display: flex;
    align-items: center;
    position: relative;
    &::after{
      content: "";
      display: block;
      position: absolute;
      background-color: #d7d7d7;
      width: 2px;
      height: 30%;
      left: 11.5vmax;
      bottom: 33%;
    }
    &>.photo-wrap{
      width: 8.07vmax;
      height: 8.07vmax;
      background-color: #fafafa;
      border-radius: 50%;
      box-sizing: border-box;
      margin: 0 auto;
      overflow: hidden;
      position: relative;

      &>img {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }
  &>.quote{
    width: 46.878vw;
    margin: 0;
    padding-left: 1.56vw;
    padding-right: 10.42vw;

    &>p{
      margin: 0;
      padding-top: 6.25vh;
      font-size: 1.75vh;
      line-height: 2.75vh;
      color: #555555;
      font-style: italic;
    }
    &>.trainer{
      font-size: 1.75vh;
      margin-top: 1.82vmax;
    }
    &>cite{
      font-size: 2vh;
      color: #7885ee;
      font-weight: bold;
      font-style: normal;
    }
    &>.quotes-open{
      position: absolute;
      right: 80%;
      top: 22%;
      &:before{
        content: '" ';
        display: block;
        font-size: 3.13vmax;
        color: #8390f0;
        line-height: 0;
        transform: rotate(180deg);
      }
    }
    &>.quotes-close{
      position: absolute;
      right: 10%;
      top: 50%;

      &::before{
        content: '" ';
        display: block;
        font-size: 3.13vmax;
        line-height: 22px;
        color: #8390f0;
      }
    }
  }
}

.others-trainer{
  position: absolute;
  bottom:-5.38vh;
  left: 30%;
  display: flex;

  &>.arrow{
    display: flex;
    width: 29px;
    height: 29px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 10px 10px 20px #efefef;
    cursor: pointer;
    background: #ffffff;
    margin:  1.56vmax 1.56vmax;
  }
  &>.prew-trainer::before{
    content: "<";
    display: block;
    font-size: 20px;
    line-height: 27px;
    color: #8390f0;
  }
  &>.next-trainer::before{
    content: ">";
    display: block;
    font-size: 20px;
    line-height: 27px;
    color: #8390f0;
    background: #ffffff;
  }
}
.name-trainer{
  font-size: 0.73vw;
  font-weight: bold;
  color: #555555;
  display: block;
}
.others-trainer__trainer{
  font-size: 0.62vmax;
}
.photo-others-trainer{
  border: 2px solid #d7d7d7;
  border-radius: 50%;
}
.page-footer{
  background-color: #5b6ceb;
  color: #fff;
}
.page-footer__inner{
  display: flex;
  justify-content: space-between;
  height: 56.25vh;
  margin-top: 25vh;
  padding-top: 12.5vh;

   &>.page-footer__about{
     flex: none;
     width: 29.68vw;

     &>h3{
       margin: 0;
       font-size: 2.35vh;
       text-transform: uppercase;
     }
     &>p{
       margin: 0;
       padding-top: 6.28vh;
       font-size: 1.75vh;
       line-height: 2.75vh;
     }
     &>.social-links{
       list-style: none;
       margin: 0;
       padding: 0;
       margin-top: 8.37vh;

       &>li{
         display: inline-block;
         margin-right: 1.87vw;

         &>.social-links__link img:hover{
           filter: brightness(0);
         }
       }
     }
   }
   @media only screen and (max-width: 1110px){
     .page-footer__about{
       width: 50%;
     }
   }

   &>.page-footer__contact{
     width: 29.68vw;

    &>h3 {
      margin: 0;
      font-size: 2.35vh;
      text-transform: uppercase;
    }
    &>.page-footer__info{
      padding-top: 6.28vh;
      display: flex;
      flex-wrap: wrap;

      &>.contact-link{
        position: relative;
        text-decoration: none;
        color: #fff;
        font-size: 1.75vh;
        line-height: 2.75vh;
        width: 10.41vmax;
        display: inline-block;
        padding-left: 30px;
        margin-right: 1vw;
        margin-bottom: 1.56vmax;
        &:nth-last-child(1)::before{
          content: "";
          width: 30px;
          height: 30px;
          position: absolute;
          top: 3px;
          left: 2px;
          background: url("../img/footer-icon/1.png") no-repeat;
        }
        &:nth-last-child(2)::before{
          content: "";
          width: 30px;
          height: 30px;
          position: absolute;
          top: 3px;
          left: 2px;
          background: url("../img/footer-icon/2.png") no-repeat;
        }
        &:nth-last-child(3)::before{
          content: "";
          width: 30px;
          height: 30px;
          position: absolute;
          top: 3px;
          left: 2px;
          background: url("../img/footer-icon/3.png") no-repeat;
        }
        &:nth-last-child(4)::before{
          content: "";
          width: 30px;
          height: 30px;
          position: absolute;
          top: 3px;
          left: 2px;
          background: url("../img/footer-icon/4.png") no-repeat;
        }
        &:hover::before{
          filter: brightness(0);}
      }
    }
   }
}
.page-footer__bottom{
  padding-top: 2.23vmax;
  height: 22.5vh;
  background-color: #5363d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #b7bffc;

  &>.page-footer__copyright{
    margin: 0;
  }
  &>.page-footer__logo{
    margin: 0;
    padding-top: 5.37vh;
  }
}

.page-footer__logo {
  font-family: "Proxima Nova";
  padding-bottom: 2.86vmax;
  padding-left: 55px;
  position: relative;

  &:before {
    content: "";
    width: 37px;
    height: 37px;
    position: absolute;
    top: 3vmax;
    left: -3px;
    background: url(../img/footer-icon/logo.png) no-repeat;
  }
  &:hover::before {
    filter: brightness(0);
  }
}
.anchor {
  display: block;
  height: 1px;
  margin-top: -1px;
  visibility: hidden;
}
.section-overlay {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: inherit;
    background-color: #5363db;
    opacity: 0.8;
  }
}

@media
only screen and (min-device-width: 320px) and (max-device-width: 480px), only screen and (max-width: 320px ),
only screen and (min-device-width: 768px ) and (max-device-width: 1024px)
{
  .container{
    padding: 0 3.55vw;
  }
  .header-menu .header-menu__right,
  .header-menu .header-menu__left{
    display: none;
  }
  .logo__main--nav{
    width: 150px;
    position: absolute;
    position: absolute;
    right: 87px;
    top: 27px;
  }
  .header-menu > .mobile > .button-main-menu {
    display: block;
    border: 2px solid red;
  }
  .header-menu > .mobile {
    display: block;
    position: absolute;
    left: 40px;
    top: 53px;
    width: 150px;
    height: 100px;

  }
    .header-menu > .mobile > .main-menu-mobile-1{
      position: relative;
      width: 126px;
      height: 7px;
      margin-bottom: -10px;
      background-color: #5b6ceb;
      left: 0px;
      top: 20px;
      display: block;
    }
    .header-menu > .mobile > .main-menu-mobile-2{
      position: relative;
      width: 126px;
      height: 7px;
      margin-bottom: -10px;
      background-color: #5b6ceb;
      left: 0px;
      top: 45px;
      display: block;
    }
    .header-menu > .mobile > .main-menu-mobile-3{
      position: relative;
      width: 126px;
      height: 7px;
      margin-bottom: -10px;
      background-color: #5b6ceb;
      left: 0px;
      top: 70px;
      display: block;
    }
    .slider{
      margin-bottom: 6.5vh
    }
    .slider > .container {
      flex-direction: column;
    }
  .form-container > #main-form {
    width: 100%;
    height: 800px;
  }
  .form-container{
    width: 70%;
    height: 800px;
  }
  .main-caption{
    flex-basis: auto ;
  }
  .main-caption > h1{
    font-size: 3vmax;
    line-height: 5.75vmax;
  }
  .form-container > #main-form > .form-caption{
    font-size: 70px;
    padding: 65px 0
  }
  .form-container > #main-form > input{
    padding-left: 35px;
    width: 80%;
    height: 120px;
    font-size: 40px;

  }
  .form-container > #main-form > .select-wrap{

    width: 85%;
    height: 110px;
    font-size: 40px;
  }

  .main-caption > p{
    margin: 0;
  }

.form-container > #main-form{
  max-height: 750px;
}
.form-container > #main-form > .select-wrap::after{
      border-width: 15px 15px 0 15px;
      top: 48%;
}
.form-container > #main-form > .btn{
  font-size: 38px;
  padding: 28px 8vw;
  margin-left: 48%;
}
.form-container > #main-form > .select-wrap > .list-class{
  padding: 36px 4vw;
}
.our-classes__title h2{
  font-size: 45px;
}
.class-list{
  justify-content: center;
}
.class-list > .class-item{
  width: 95%;
}
.class-list > .class-item > .class-photo{
  width: 40%;
}
.class-list > .class-item > .class-description{
  width: 60%;
}
.class-list > .class-item > .class-description > .class-title{
  font-size: 26px;
  margin-top: 1.5vmax;
}
.class-list > .class-item > .class-description > .class-text{
  font-size: 1.75vh;
  line-height: 1.95vh;
  margin-top: 0.8vmax;
}
.gallery {
  height: inherit;
}
.section-about-us{
  margin-top: 20vmax;
}
.section-about-us .container{
  flex-direction: column-reverse;
  align-items: center;
}
.section-about-us .container > .about__slider{
  width: 70%;
  height: auto;
}
.section-about-us .container > .about__content{
  width: 100%;
}
.section-about-us .container > .about__content > .about__content-wrap{
  width: 95%;

}
.section-about-us .container > .about__content > .about__content-wrap > h2{
  font-size: 45px;
}
.section-about-us .container > .about__content > .about__content-wrap > p{
  font-size: 25px;
  line-height: 28px;
}
.features__list > .features__item{
  width: 50%;
  margin: 0;
}
.features__list > .features__item > h4{
  font-size: 1.5vmax;
  line-height: 1.8vmax;
}
.features__list > .features__item > p {
  font-size: 2.83vw;
  line-height: 3.41vw;
}
.prices{
  flex-direction: column;
  align-items: center;
}
.prices > .price{
  width: 59.27vw;
}
.prices > .price > .value > .currency{
  font-size: 3.67vmax;
    padding-right: 3.78vw;
}
.prices > .price > .value > .numeral{
  font-size: 4.5vmax;
  padding-right: 2.58vw;
}
.prices > .price > .value > .mons {
  font-size: 2.75vh;
}
.prices > .price > .included-price{
  font-size: 1.93vmax;
}
.gallery > .gallery-list > .gallery-photo{
  width: 50vw;
  height: 50vw;
}

.prices > .price > .included-price > .button {
  width: 32.85vw;
padding: 32px 0;
font-size: 1.94vmax;
}
.bloquote-content > .quote > p{
      padding-top: 3.25vh;
}
.bloquote-content > .quote > cite{
      line-height: 2.4vh;
}
.others-trainer{
display: none;
}
.page-footer__inner{
  margin-top: 17vh;
  flex-direction: column;
}
.page-footer__inner > .page-footer__about{
  width: 100%;
}
.page-footer__inner > .page-footer__about > p{
  padding-top: 4.28vh;
}
.page-footer__inner > .page-footer__about > .social-links{
  margin-top: 2.37vh;
}
.page-footer__inner > .page-footer__contact{
  width: 100%;
}
.page-footer__inner > .page-footer__contact > .page-footer__info{
      padding-top: 15.28vh;
}
.page-footer__inner > .page-footer__contact > .page-footer__info > .contact-link{
  width: 100%;
}
.page-footer__inner > .page-footer__contact > .page-footer__info{
  padding-top: 6.28vh;
}
.page-footer__inner > .page-footer__contact > .page-footer__info > .contact-link{
  padding-left: 55px;
}
.page-footer__bottom > .page-footer__logo{
  padding-top: 3.37vh;
}
.page-footer__bottom > .page-footer__copyright{
  font-size: 18px;
}
.page-footer__bottom {
  height: 8.5vh;
}
}
